
@{
    ViewBag.Title = "Requester";
}

<h2>Request Certificate</h2>

<form>
    <div class="form-group">
        <label for="Full Name">Full Name</label>
        <input type="text" class="form-control" id="Stuname">
    </div>
    <div class="form-group">
        <label for="Fuculty">Fuculty</label>
        <input type="text" class="form-control" id="Fuculty">
    </div>
    <div class="form-group">
        <label for="Degree">Degree</label>
        <input type="text" class="form-control" id="StuDegree">
    </div>
    <div class="form-group">
        <label for="IndexNumber">Index Number</label>
        <input type="text" class="form-control" id="IndxNo">
    </div>
    
    <div class="checkbox">
        <label>
            <input type="checkbox"> Degree

        </label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox"> Details

        </label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox"> Cartoon

        </label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox"> Inrollment

        </label>
    </div>
    <div class="form-group">
        <label for="image">File input</label>
        <input type="file" id="StuImg">
    </div>
    <h2>Delivery Option</h2>
    <div class="checkbox">
        <label>
            <input type="checkbox"> DHL
        </label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox"> Mashreq University
        </label>
    </div>
        <button type="submit" class="btn btn-default">Submit</button>
</form>