
@{
    ViewBag.Title = "Index";
}

<h2>Welcome</h2>
<hr />

<div class="jumbotron">
    <h1>Hello, Student!</h1>
    <p>
        Welcome students, this web application allow you to request your graduation certificate online and
        view pending request if you have any
    </p>
    <p><a class="btn btn-primary btn-lg" href="~/Request/Create" role="button">Start Request or View Requests</a></p>
</div>
