
@{
    Layout = "~/Views/Shared/_LayoutUsers.cshtml";
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<hr />
<form>
    <div class="form-group">
        <label for="Name">Name</label>
        <input type="text" class="form-control" id="Name" placeholder="Name...">
    </div>
    <div class="form-group">
        <label for="CrNo">Credit Card Number</label>
        <input type="text" class="form-control" id="CrNo" placeholder="Credit Card Number...">
    </div>
    <div class="form-group">
        <label for="CrD">Credit Card Date</label>
        <input type="text" class="form-control" id="CrD" placeholder="Credit Card Date...">
    </div>
    <div class="form-group">
        <label for="CVV">CVV</label>
        <input type="text" class="form-control" id="CVV" placeholder="CVV...">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>
