@using CMS.Models
@model CertificateType
@{
    Layout = "~/Views/Shared/_LayoutUsers.cshtml";
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm("Create", "Certificate", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div></div>
    <div class="form-group">
        @Html.LabelFor(m => m.Type, new { @class = "col-md-2 control-label" })
        @Html.TextBoxFor(m => m.Type, new { @class = "col-md-8 form-control",Placeholder ="Certificate Type..." })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Price, new { @class = "col-md-2 control-label" })
        @Html.TextBoxFor(m => m.Price, new { @class = "col-md-8 form-control",Placeholder ="Certificate Price..." })

    </div>
    <div class="form-group">
        <div class="col-md-offset-2">
            <input type="submit" class="btn btn-default" value="Create" />
        </div>
    </div>


}
<ul class="pager">
    <li class="previous"><a href="~/Certificate/"><span aria-hidden="true">&larr;</span> Back</a></li>
</ul>

}
