@model List<CMS.Models.CertificateType>
@{
    Layout = "~/Views/Shared/_LayoutUsers.cshtml";
    ViewBag.Title = "Index";

}

<h2>Index</h2>
<hr />
@{
    if (TempData["Feedback"] != null)
    {
        <div class='alert alert-success alert-dismissable'>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong><i class="fa fa-1x fa-check"></i> Success</strong>
            <span>@TempData["Feedback"]</span>
        </div>
    }
}
<a href="~/Certificate/Create" class="btn btn-default"> <i class="fa fa-plus"></i> &nbsp; Add Certificate</a>
<br />
<br />
@{
    if (Model.Count == 0)
    {
        <div class="alert alert-info" role="alert">
            <strong>Oops!</strong> No Certificate data available
        </div>
    }
    else

    {
        <table class="table table-bordered">
            <tr>
                <th>Type</th>
                <th>Price</th>
                <th>Action</th>
            </tr>

            @{
                foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Type</td>
                        <td>@item.Price</td>
                        <td>
                            <a href="~/Certificate/Edit/@item.Id" class="btn btn-sm btn-warning"><i class="fa fa-1x fa-user-edit"></i> Edit</a>
                            <a href="~/Certificate/Delete/@item.Id" class="btn btn-sm btn-danger" onclick="return confirm('Do you want to delete @item.Id Certificate?');"><i class="fa fa-1x fa-times"></i> Delete</a>
                        </td>
                    </tr>
                    
                }
            }
        </table>
                }
}