body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.request-page {
    width: 700px;
    margin: 30px auto;
    box-shadow: 2px 2px 6px -3px black;
    padding: 15px;
}
.alert{
    padding:10px;
}
.no-padding{
    padding:0px !important;
}
.inline-btn {
    padding: 0px !important;
    position: relative;
    right: 14px;
}
.alert-check {
    width: 350px;
    margin: 15px auto;
}
.feedback-msg, feedbacl-msg-error{
    width:350px;
    margin:0px auto;
}
/*SVG Style*/
svg {
    width: 30px; 
}

.path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 0;
}

    .path.circle {
        -webkit-animation: dash 0.9s ease-in-out;
        animation: dash 0.9s ease-in-out;
    }

    .path.line {
        stroke-dashoffset: 1000;
        -webkit-animation: dash 0.9s 0.35s ease-in-out forwards;
        animation: dash 0.9s 0.35s ease-in-out forwards;
    }

    .path.check {
        stroke-dashoffset: -100;
        -webkit-animation: dash-check 0.9s 0.35s ease-in-out forwards;
        animation: dash-check 0.9s 0.35s ease-in-out forwards;
    }

.svg-p {
    margin: 2px 0 3px;
    font-size: 14px;
    display: inline;
    position: relative;
    bottom: 10px;
    left: 10px;
}

    .svg-p .success {
        color: #73AF55;
    }

    .svg-p .error {
        color: #D06079;
    }

@-webkit-keyframes dash {
    0% {
        stroke-dashoffset: 1000;
    }

    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes dash {
    0% {
        stroke-dashoffset: 1000;
    }

    100% {
        stroke-dashoffset: 0;
    }
}

@-webkit-keyframes dash-check {
    0% {
        stroke-dashoffset: -100;
    }

    100% {
        stroke-dashoffset: 900;
    }
}

@keyframes dash-check {
    0% {
        stroke-dashoffset: -100;
    }

    100% {
        stroke-dashoffset: 900;
    }
}

